.card {
	align-content: center;
	display: flex;
	flex-flow: row wrap;
	height: 5.2in;
	justify-content: center;
	width: 7.2in;

	&:nth-child(2n) {
		page-break-after: always;
	}
}

.card_side {
	border: 1px solid #ddd;
	font-family: "Colonna MT";
	height: 5.2in;
	padding: 0.3cm;
	width: 3.5in;
}

.align-baseline {
	align-items: baseline;
	display: flex;
}



.field {
	font-size: 14px;
	margin-bottom: 0.2cm;

	label {
		flex: 1 0 auto;
		margin-right: 1ch;
	}

	.line {
		border-bottom: 1px solid #ddd;
		flex: 1 1 100%;
	}
}

.stats_portrait {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.portrait {
	border: 2px solid #aaa;
	border-radius: 4px;
	display: block;
	overflow: hidden;
	width: calc(96% - 152px);

}

.portrait_img {
	display: block;
	filter: grayscale(1);
	height: 100%;
	left: 0;
	object-fit: cover;
	object-position: center center;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.portrait_logo {
	border: 0 none;
	bottom: 5px;
	filter: invert(1) grayscale(1) brightness(100) drop-shadow(1px 1px 1px #000) drop-shadow(1px 1px 2px #000);
	height: auto;
	object-fit: contain;
	position: absolute;
	right: 5px;
	width: 30%;
	z-index: 10;

	&.akashic,
	&.society-of-ether {
		filter: grayscale(1) drop-shadow(1px 1px 1px #000) drop-shadow(1px 1px 2px #000);
	}
}

.notable_tips {
	display: flex;
	flex-flow: row nowrap;

	label {
		display: block;
		margin: 6px 0 4px;
	}
}

.notable_traits {
	flex: 0 0 3.8cm;

	.line {
		font-family: "Ink Free Regular";
		font-size: 12px;
		font-weight: 700;
		height: 14px;
		line-height: 14px;
		margin: 0;
		width: 1.8cm;
	}

	span {
		font-size: 16px;
		height: 12px;
		line-height: 12px;
	}

	.trait_row {
		align-items: baseline;
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
	}

	.score {
		align-items: center;
		display: flex;
		width: 2cm;

		span {
			align-items: center;
			display: inline-flex;
		}

		.fiveplus {
			top: 1px;
		}
	}
}

.rp_tips {
	flex: 1 1 calc(100% - 3.8cm);
	padding-left: 0.5cm;

	.line {
		font-family: "Ink Free Regular";
		font-size: 12px;
		font-weight: 700;
		height: 14px;
		line-height: 14px;
		margin: 0;
		width: 100%;
	}

	.content {
		font-family: "Ink Free Regular";
		font-size: 12px;
		font-weight: 700;
		left: 0.6cm;
		letter-spacing: 1px;
		line-height: 14px;
		position: absolute;
		top: 14px;

		span {
			display: block;
		}
	}
}