.characters_restrict {
	display: none;
	flex-flow: row wrap;
	padding: 20px 10px;

	.character_option {
		align-items: center;
		display: flex;
		font-family: verdana;
		font-size: 12px;
		margin-bottom: 4px;
		margin-right: 10px;

		input {}

		label {
			padding-left: 5px;
			white-space: nowrap;
		}
	}

	&.active {
		display: flex;
	}
}

.extra_options {
	font-family: verdana;
	font-size: 12px;
	padding: 0px 10px;
}